body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


/* Navigatiebalk */

nav {
    background-color: #45554A;
    padding: 14px;
    text-align: center;
    box-shadow: 0 0 3px;
}

ul li {
    display: inline;
    margin-right: 95px;
}

ul {
    font-family: source sans pro;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
}



/* Main */

.container .rechten a {
    text-decoration: none;
    color: #5A5A5A;
    font-family: source sans pro;
    font-size: 25px;
    font-weight: 350;
    width: 100px;
}


aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#introductie {
    position: absolute;
    width: 500px;
    font-family: source sans pro;
    font-size: 25px;
    color: #ffffff;
    font-weight: 200;
    margin-top: 60px;
    margin-left: 70px;
}

#item1 {}

#item2 {}

#item3 {}

#item4 {}



/* Footer */

footer {
    background-color: black;
    height: 200px;
}

.container {
    width: 250px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 25px;
    opacity: 0.6;
}

.container1 {
    float: right;
    margin-right: 150px;
    margin-top: 100px;
}

.specialisme_container {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
}

#container2 {
    width: 700px;
    height: 500px;
    border-radius: 30px;
    background-color: #8F9382;
    margin-top: 100px;
    position: absolute;
}