* {
    margin: 0;
    padding: 0;
}

body{
    font-family: source sans pro;
}

header {
    
}

nav {
    background-color: #45554A;
    text-align: center;
    box-shadow: 0 0 3px;
}

nav ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

nav ul li a{
    padding: 0px 50px;
    text-decoration: none;
    color: #ffffff;
}

main {
    /* height: 100vh; */
    background-color: #BFC4AC;
    padding-bottom: 25px;
}

.homemain {
    background-color: #8F9382;
    color: #ffffff;
    font-weight: 200;
    font-size: 35px;
    padding-left: 90px;
    padding-top: 275px;
}

.topmain {
    color: #5A5A5A;
    font-size: 30px;
    font-weight: lighter;
    font-family: abril fatface;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.middlemain {
    padding: 0px 50px;
}

.quote {
    color: #767676;
    font-style: italic;
    float: right;
    font-size: 20px;
}

.containers_advocaten {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.container_advocaat {
    width: 210px;
    background-color: #D9DDCC;
    border-radius: 25px;
}

.container_advocaat a {
    text-decoration: none;
}

.container_advocaat:hover {
    background-color: #8F9382;
}

.advocatenames {
    color: #5A5A5A;
    text-align: center;
    margin: 20px;

}

.contact {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-2-col {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    /* justify-items: center; */
}

.specialisme {
    display: flex;
    width: 250px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 25px;
    opacity: 0.6;
    text-decoration: none;
    color: #5A5A5A;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.container_dark {
    background-color: #8F9382;
    border-radius: 30px;
    padding: 35px 45px;
    margin: 50px 0px;
    color: #ffffff;
}

.introductie_teksten {
    color: #5A5A5A;
    font-weight: 200;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.kopjes {
    font-weight: 200;
    font-size: 24px;
}

.tekst {
    width: 80%;
    font-size: 16px;
}

.image {
    width: 100%;
    border-radius: 25px;
}

.imageholder {
    border-radius: 25px;
    width: 80%;
    height: 168px;
    overflow: hidden;
    margin: 20px;
}

#thehague {
    justify-self: center;
}

.chatmanHolder {
    margin: auto;
    padding: 10px;
    width: 100px;
}

#chatman {
    border-radius: 50px;
    width: 100%;
}

footer{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    background-color: black;
    color: #ffffff;
    padding-left: 20px;
}

footer ul{
    list-style-type: none;
    align-self: center;
}

footer ul li a{
    text-decoration: none;
    color: inherit;
}

.chatbox {
    margin: 20px;
    height: 150px;
    width: 80%;
    background-color: #AFAD93;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
}